.footer-page {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2f303a;
    &__address {
        width: 230px;
        font-style: normal;
        list-style-type: none;
    }
}

.address__list {
    margin-bottom: 9px;
}

.addres__link-google {
    display: inline-block;
    color: var(--background-color);
    text-decoration: none;
    line-height: 1.7;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--second-color-link);
    }
}

.addres__link-contact {
    height: 21px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    line-height: 1.7;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--second-color-link);
    }
}

/*=====footer social block=====*/
.footer-page__social {
    display: inline-block;
    margin-left: 70px;
    width: 206px;
}

.social__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    font-style: normal;
    color: var(--background-color);
}

.flex-baseline {
    display: flex;
    align-items: baseline;
}

.footer-page__social--ul {
    display: flex;
    justify-content: space-between;
}

.footer-page__social--list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--background-color);
    &:hover,
    &:focus {
        background-color: var(--second-color-link);
    }
}

/*footer mail-block*/
/*=============================*/
.footer-page__sent-form {
    margin-left: 93px;
}

.sent-form_indent {
    margin-right: 12px;
}

.sent-form_flex {
    display: flex;
}

.sent-form__mail {
    width: 358px;
    height: 50px;
    padding: 15px;
    font-size: 16px;
    background-color: var(--background-hero);
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        color: var(--background-color);
    }
}

.sent-form__submit {
    position: relative;
    padding: 0px;
    padding-right: 28px;
    &:focus,
    &:hover {
        background: var(--btn-hover);
    }
}

.sent-form__submit--icon {
    position: absolute;
    display: block;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    fill: var(--background-color);
}
