.nav__item:not(:last-child),
.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts {
    margin-left: auto;
    &__icon-envelope,
    &__icon-phone {
        content: "";
        margin-right: 10px;
        display: inline-block;
        fill: currentColor;
    }
}

.nav__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--text-item);
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    list-style: none;

    &:hover,
    &:focus {
        color: var(--second-color-link);
    }
}

.current {
    color: var(--second-color-link);
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--second-color-link);
    }
}

.contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--second-color-link);
    }
}
