.section_padding {
    padding-top: 0;
}

.our-work__heading {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--text-item);
}

.our-work__ul {
    display: flex;
}

.our-work__item {
    position: relative;
    width: 370px;
    height: 294px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.our-work__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    font-style: normal;
    color: var(--background-color);
}

.our-work__title--position {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(47, 48, 58, 0.8);
}
