:root {
    --primary-text-color: #757575;
    --text-item: #212121;
    --background-color: #ffffff;
    --second-color-link: #2196F3;
    --half-logo: #000000;
    --background-hero: #2F303A;
    --btn-hover: #188CE8;
    --background-our-team: #F5F4FA;
    --color-social-icon: #AFB1B8;

}